/* assets/css/header/style.css */

.navbar {
    margin-bottom: 20px;
    height: 60px; /* Definindo uma altura fixa */
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important; /* Garantindo que a cor do texto seja branca */
}

.navbar-nav .nav-item .nav-link {
    margin-left: 10px;
    color: white !important; /* Garantindo que a cor do texto seja branca */
    display: flex;
    align-items: center;
}

.btn-success, .btn-danger {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Ajustando a cor do ícone de toggle */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

